.product-main {
    flex:1;
    overflow: auto;
    width: 100%;
    min-width: 0;
    
    .product {
        display: flex;
        flex-direction: row;
        overflow: scroll;
        justify-content: flex-start;
        gap: 16px;
        padding: 16px 32px;
        height: 100%;
        width: 100%;

        
        padding-bottom: 16px;
    }
}

@media screen and (max-width: 720px) {
    .product-main {
        .product {
            flex-direction: column;
            overflow: auto;
            align-items: center;
            padding-bottom: 16px;
        }
    }
}