.product-page {
    width: 80%;
    flex: 1;
    background-color: var(--neutrals-24, #f2f2f2);
    min-width: 0;

    .product-page-wrapper {
        width: 100%;
        overflow-y: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        min-width: 0;
    }
}

@media screen and (max-width: 1080px) {
    .product-page-wrapper {
        padding-bottom: 3rem;
    }
}