.headline-top-div {
    width: 100%;
    padding: 22px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e6e6e6;


    .headline-div {
        width: max-content;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .headline-text {
            font-weight: 700;
            line-height: normal;
            color: var(--neutrals-0);
        }
    }
}