@use './components/navigation/index.scss' as nav;
@use './components/product-catalog/index.scss' as pro-cat;
@use './components/product-page/index.scss' as pro-page;


.main-layout {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    position: relative;
}